.luna-menu{
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/ATRI3.png");
    background-size: 100% 100%;
    user-select: none;
}

.luna-menu-field{
    width: 20vw;
    position: relative;
    top: 50%;
    left: 20%;
}

.luna-menu-field-item{
    color: white;
    height: 7vh;
    width: 18vw;
    font-size: 5vh;
    font-style: italic;
    padding: 1vh;
    text-align: center;
    background-color: rgba(7, 53, 153, 0.3);
    border-radius: 20px;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.luna-menu-field-item:hover{
    transform:scale(1.1);
    transition: 100ms;
}

.luna-play{
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: grey;
}

.luna-play > canvas{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.luna-settings{
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/ATRI3.png");
    background-size: 100% 100%;
    user-select: none;
}

.luna-settings-login{
    height: 41vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.luna-settings-register{
    height: 49vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.luna-settings-title{
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.luna-settings-username{
    display: block;
    height: 7vh;
}

.luna-settings-password{
    display: block;
    height: 7vh;
}

.luna-settings-submit{
    display: block;
    height: 7vh;
}

.luna-settings-item{
    width: 100%;
    height: 100%;
}

.luna-settings-item > input{
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.luna-settings-item > button{
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #389401;
    border-radius: 5px;
    cursor: pointer;
}

.luna-settings-error-message{
    color: red;
    display: inline;
    font-size: 1.6vh;
    float: left;
    padding-left: 1vw;
}

.luna-settings-option{
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.luna-settings-acwing{
    display: block;
    height: 7vh;
}

.luna-settings-acwing > img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.luna-settings-acwing > div{
    color: white;
    text-align: center;
    font-size: 1.5vh;
    padding-top: 1vh;
    display: block;
}

.luna-chat-field-history {
    position: absolute;
    top: 66%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 32%;
    color: white;
    font-size: 2vh;

    padding: 5px;
    overflow: auto;
}

.luna-chat-field-history::-webkit-scrollbar {
    width: 0;
}

.luna-chat-field-input {
    position: absolute;
    top: 86%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 3vh;

    color: white;
    font-size: 2vh;
    background-color: rgba(222,225,230, 0.2);
}
